<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit part
  </h2>
  <form class="edit-part-form">
    <div>
      <input name="part-stock" type="number" value="{{part.stock}}" />
      {{!-- <span>({{part.stock}})</span> --}}
    </div>
    <div>
      {{part.stock}}
      |
      <a href="/part/{{part.id}}"> </a>
    </div>
    <button type="submit">Save part</button>
    <button type="button" class="delete-part-btn">Delete part</button>
  </form>
</article>

<form class="edit-part-form">
  <div>
    <textarea name="part-title"></textarea>
  </div>

  <div>
    <button type="submit">take out part</button>
  </div>
</form>

<script src="/javascript/edit-part.js"></script>
<script src="/javascript/delete-part.js"></script>