<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
></script>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
></script>

<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit part
  </h2>
  <form class="edit-part-form">
    <div>
      <input name="part-stock" type="number" value="{{part.stock}}" />
      {{!-- <span>({{part.stock}})</span> --}}
    </div>
    <div>
      {{part.stock}}
      |
      <a href="/part/{{part.id}}"> </a>
    </div>
    <button type="submit" class="btn btn-info btn-lg btn-block">Save part</button>
    <button type="button" class="btn btn-info btn-lg btn-block">Delete part</button>
  </form>
</article>

<form class="edit-part-form">
  <div>
    <textarea name="part-title"></textarea>
  </div>

  <div>
    <button type="submit">take out part</button>
  </div>
</form>

<script src="/javascript/edit-part.js"></script>
<script src="/javascript/delete-part.js"></script>