         <style>
      table,
      table td {
        border: 1px solid #cccccc;
      }
      td {
        background-color: aqua;
        font-weight: bold;
        height: 80px;
        width: 160px;
        text-align: center;
        vertical-align: middle;
      }
      </style>
        <table class="table">
          <thead class="thead-dark part">
            <tr>
              <td scope="col">ID</td>
              <td scope="col">Part Name</td>
              <td scope="col">Number in stock</td>
              <td scope="col">Comments</td>
            </tr>
          </thead>
        </table>
<ol class="part-list">
  {{#each parts as |part|}}
  <li>
    {{> part-info part }}
  </li>
  {{/each}}
</ol>