   <style>
      table,
      table td {
        border: 1px solid #cccccc;
      }
      td {
        background-color: aqua;
        font-weight: bold;
        height: 80px;
        width: 160px;
        text-align: center;
        vertical-align: middle;
      }
      </style>
        <table class="table">
          <thead class="thead-dark part">
            <tr>
              <td scope="col">Part ID</td>
              <td scope="col">Part Name</td>
              <td scope="col">Number in stock</td>
              <td scope="col">Edit</td>
            </tr>
          </thead>
        </table>
{{> part-info part}}

{{#if loggedIn}}

<form class="edit-part-form">
    <div>
      <input name="part-stock" type="number" value="{{part.stock}}" />
      {{!-- <span>({{ part.stock}})</span> --}}
    </div>
    <button type="submit" class="edit-part-form">Change stock!</button>
    <button type="button" class="delete-part-btn">Delete part</button>
  </form>
</article>

{{/if}}

{{!-- {{> part-info}} --}}

{{#if loggedIn}}
{{!-- <script src="/javascript/comment.js"></script> --}}
{{!-- <script src="/javascript/upvote.js"></script> --}}
<script src="/javascript/edit-part.js"></script>
<script src="/javascript/delete-part.js"></script>
{{/if}}